menu {
    display: flex;
}

nav {
    background-color: var(--secondary-color);
    /* margin-bottom: 1rem; */
}

menu li {
    list-style: none;
}

menu li a {
    display: block;
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 2rem;
    text-decoration: none;
    transition: all 0.2s ease;
}

menu li a:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}