.wrapper {
    margin-top: 2rem;
    overflow-x: hidden;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem var(--secondary-color-alt);
}

.auto-scroll {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    animation: scroll 20s ease-in-out infinite alternate;
}

.auto-scroll img {
    max-height: 400px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}