.wrapper {
    composes: wrapper from "./composition.css";
}

.store-items {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem var(--secondary-color-alt);
}

.load-more {
    composes: btn from "./composition.css";
    align-self: center;
}